<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
      <title>AUI - Label</title>
      <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.1/css/aui.css" media="all">
      <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.1/css/aui-experimental.css" media="all">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
      <script src="../js/require.js"></script>
      <script src="//aui-cdn.atlassian.com/aui-adg/5.9.1/js/aui.js"></script>
      <script src="//aui-cdn.atlassian.com/aui-adg/5.9.1/js/aui-experimental.js"></script>
    </head>
    <body class="aui-page-fixed">
    <div id="page">
      <header id="header" role="banner">
        <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
          <div class="aui-header-inner">
            <div class="aui-header-primary">
              <h1 id="logo" class="aui-header-logo aui-header-logo-aui">
                <a href="http://example.com/"><span class="aui-header-logo-device">AUI</span></a>
              </h1>
            </div>
          </div>
        </nav>
      </header>
      <section id="content" role="main">
        <header class="aui-page-header">
          <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
              <h1>AUI Label</h1>
            </div>
          </div>
        </header>
        <div class="aui-page-panel">
          <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
              <h2>Summary</h2>
              <p>
                AUI provides a wrapper around the native label element for use with other AUI components.
                An AUI label should be used with the following components only:
                <ul>
                  <li>Toggle Button</li>
                </ul>
              </p>

              <h3>Example</h3>
              <aui-label for="my-toggle">Click here to toggle</aui-label>
              <aui-toggle label="toggle button" id="my-toggle"></aui-toggle>
            </section>
          </div>
        </div>
      </section>
      <footer id="footer" role="contentinfo">
        <section class="footer-body">
          <ul>
            <li>I ♥ AUI</li>
          </ul>
          <div id="footer-logo"><a href="http://www.atlassian.com/" target="_blank">Atlassian</a></div>
        </section>
      </footer>
    </div>
  </body>
</html>