---
layout: components
title: Avatars
---

<section class="aui-page-panel-content">
  <h2>Summary</h2>
  <p>Avatars are used to add a human touch and instant clarity when understanding which user did what in the application. We also use avatars for projects, repositories, spaces and other container metaphors within Atlassian Apps.</p>
  <h3>User avatars</h3>
  <p>User avatars come in 5 sizes. All user avatars have a border-radius on them. No sharp edges, please.</p>
  <h3>Project avatars</h3>
  <p>Avatars are used for projects, spaces and repositories to give them a visual identity. These avatars are round to clearly differentiate them from user avatars.</p>

  <h3>Example</h3>
  <span class="aui-avatar aui-avatar-xsmall">
    <span class="aui-avatar-inner">
      <img src="//docs.atlassian.com/aui/latest/docs/images/avatar-48.png">
    </span>
  </span>
  <span class="aui-avatar aui-avatar-small">
      <span class="aui-avatar-inner">
        <img src="//docs.atlassian.com/aui/latest/docs/images/avatar-48.png">
      </span>
  </span>
  <span class="aui-avatar aui-avatar-medium">
    <span class="aui-avatar-inner">
      <img src="//docs.atlassian.com/aui/latest/docs/images/avatar-48.png">
    </span>
  </span>
  <span class="aui-avatar aui-avatar-large">
    <span class="aui-avatar-inner">
      <img src="//docs.atlassian.com/aui/latest/docs/images/avatar-48.png">
    </span>
  </span>
  <span class="aui-avatar aui-avatar-xlarge">
    <span class="aui-avatar-inner">
      <img src="//docs.atlassian.com/aui/latest/docs/images/avatar-48.png">
    </span>
  </span>
  <span class="aui-avatar aui-avatar-xxlarge">
    <span class="aui-avatar-inner">
      <img src="//docs.atlassian.com/aui/latest/docs/images/avatar-48.png">
    </span>
  </span>
  <span class="aui-avatar aui-avatar-xxxlarge">
    <span class="aui-avatar-inner">
      <img src="//docs.atlassian.com/aui/latest/docs/images/avatar-48.png">
    </span>
  </span>
  <span class="aui-avatar aui-avatar-project aui-avatar-xxxlarge">
    <span class="aui-avatar-inner">
      <img src="//docs.atlassian.com/aui/latest/docs/images/project-128.png">
    </span>
  </span>
  <span class="aui-avatar aui-avatar-project aui-avatar-xxlarge">
    <span class="aui-avatar-inner">
      <img src="//docs.atlassian.com/aui/latest/docs/images/project-128.png">
    </span>
  </span>
  <span class="aui-avatar aui-avatar-project aui-avatar-xlarge">
    <span class="aui-avatar-inner">
      <img src="//docs.atlassian.com/aui/latest/docs/images/project-128.png">
    </span>
  </span>
  <span class="aui-avatar aui-avatar-project aui-avatar-large">
    <span class="aui-avatar-inner">
      <img src="//docs.atlassian.com/aui/latest/docs/images/project-128.png">
    </span>
  </span>
  <span class="aui-avatar aui-avatar-project aui-avatar-medium">
    <span class="aui-avatar-inner">
      <img src="//docs.atlassian.com/aui/latest/docs/images/project-128.png">
    </span>
  </span>
  <span class="aui-avatar aui-avatar-project aui-avatar-small">
    <span class="aui-avatar-inner">
      <img src="//docs.atlassian.com/aui/latest/docs/images/project-128.png">
    </span>
  </span>
</section>
