---
layout: components
title: Badges
---

<section class="aui-page-panel-content">
  <h2>Summary</h2>
  <p>
    Badges provide quick visual identification for numeric values such as tallies
    and other quantities. They are not used for anything other than integers. For
    statuses, use Lozenges. To call out tags or other high-visibility attributes,
    use Labels.
  </p>

  <h3>Example</h3>
  <aui-badge>19</aui-badge>
  <aui-badge>1</aui-badge>
  <aui-badge>119</aui-badge>
  <aui-badge>1911</aui-badge>
  <aui-badge>11999</aui-badge>
  <aui-badge>0</aui-badge>
</section>
