---
layout: components
title: Buttons
---

<section class="aui-page-panel-content">
  <h2>Summary</h2>
  <p>
    Buttons are used as triggers for actions. They are used in forms, toolbars, dialog footers and as stand-alone action triggers. Buttons should rarely, if ever, be used for navigation.</p>

  <p><strong>Actions</strong> are operations that are performed on objects.</p>

  <p><strong>Navigation</strong> changes the screen or view or takes you to another context in the application.</p>

  <h3>Examples</h3>

  <p><button class="aui-button">Button</button></p>
  <p><button class="aui-button aui-button-primary">Primary button</button></p>
  <p><button class="aui-button aui-button-link">Link button</button></p>
  <p><button class="aui-button aui-dropdown2-trigger" aria-controls="dropdown2-more">Dropdown button</button>
  <div id="dropdown2-more" class="aui-dropdown2 aui-style-default">
    <ul>
      <li><a href="#" onclick="alert('You clicked item 1');">Menu item 1</a></li>
      <li><a href="#" onclick="alert('You clicked item 2');">Menu item 2</a></li>
      <li><a href="#" onclick="alert('You clicked item 3');">Menu item 3</a></li>
    </ul>
  </div>
  </p>
  <p><button class="aui-button"><span class="aui-icon aui-icon-small aui-iconfont-view"></span> Icon button</button></p>
  <p><button class="aui-button" aria-disabled="true">Disabled button</button></p>
  <p><button class="aui-button aui-button-subtle">
    <span class="aui-icon aui-icon-small aui-iconfont-configure"></span>
    Subtle button
    </button>
  </p>
  <p>
    <div id="split-button-demo" class="aui-buttons">
      <button class="aui-button aui-button-split-main">Split main</button>
      <button class="aui-button aui-dropdown2-trigger aui-button-split-more"
        aria-owns="split-container-dropdown" aria-haspopup="true">Split more</button>
    </div>
    <div id="split-container-dropdown" class="aui-dropdown2 aui-style-default"
        data-container="#split-button-demo" role="menu" aria-hidden="true">
      <ul class="aui-list-truncate">
        <li><a href="#" onclick="alert('You clicked item 1');">Menu item 1</a></li>
        <li><a href="#" onclick="alert('You clicked item 2');">Menu item 2</a></li>
        <li><a href="#" onclick="alert('You clicked item 3');">Menu item 3</a></li>
      </ul>
    </div>
  </p>
  <p>
    <div class="aui-buttons">
      <button class="aui-button">Button</button>
      <button class="aui-button">Button</button>
      <button class="aui-button">Button</button>
    </div>
  </p>
</section>
