<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
      <title>AUI - Buttons</title>
      <link rel="stylesheet" href="../aui/css/aui.css" media="all">
      <link rel="stylesheet" href="../aui/css/aui-experimental.css" media="all">
      <script src="../js/jquery-1.11.3.js"></script>
      <script src="../js/require.js"></script>
      <script src="../aui/js/aui.js"></script>
      <script src="../aui/js/aui-experimental.js"></script>
    </head>
    <body class="aui-page-fixed">
    <div id="page">
      <header id="header" role="banner">
        <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
          <div class="aui-header-inner">
            <div class="aui-header-primary">
              <h1 id="logo" class="aui-header-logo aui-header-logo-aui">
                <a href="http://example.com/"><span class="aui-header-logo-device">AUI</span></a>
              </h1>
            </div>
          </div>
        </nav>
      </header>
      <section id="content" role="main">
        <header class="aui-page-header">
          <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
              <h1>Buttons</h1>
            </div>
          </div>
        </header>
        <div class="aui-page-panel">
          <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
              <h2>Summary</h2>
              <p>
                Buttons are used as triggers for actions. They are used in forms, toolbars, dialog footers and as stand-alone action triggers. Buttons should rarely, if ever, be used for navigation.</p>

              <p><strong>Actions</strong> are operations that are performed on objects.</p>
              
              <p><strong>Navigation</strong> changes the screen or view or takes you to another context in the application.</p>

              <h3>Examples</h3>
              
              <p><button class="aui-button">Button</button></p>
              <p><button class="aui-button aui-button-primary">Primary button</button></p>
              <p><button class="aui-button aui-button-link">Link button</button></p>
              <p><button class="aui-button aui-dropdown2-trigger" aria-controls="dropdown2-more">Dropdown button</button>
              <div id="dropdown2-more" class="aui-dropdown2 aui-style-default">
                <ul>
                  <li><a href="#" onclick="alert('You clicked item 1');">Menu item 1</a></li>
                  <li><a href="#" onclick="alert('You clicked item 2');">Menu item 2</a></li>
                  <li><a href="#" onclick="alert('You clicked item 3');">Menu item 3</a></li>
                </ul>
              </div>
              </p>
              <p>
                <div name="split-button-demo" id="split-button-demo" class="aui-buttons">
                  <button class="aui-button aui-button-split-main">Split button</button>
                  <button class="aui-button aui-dropdown2-trigger aui-button-split-more" aria-owns="split-container-dropdown" aria-haspopup="true">Split button more</button>
                </div>
              </p>
              <p>
                <div id="split-container-dropdown" class="aui-dropdown2 aui-style-default" data-container="split-button-demo">
                  <ul>
                    <li><a href="#" onclick="alert('You clicked item 1');">Menu item 1</a></li>
                    <li><a href="#" onclick="alert('You clicked item 2');">Menu item 2</a></li>
                    <li><a href="#" onclick="alert('You clicked item 3');">Menu item 3</a></li>
                  </ul>
                </div>
              </p>
              <p><button class="aui-button"><span class="aui-icon aui-icon-small aui-iconfont-view"></span> Icon button</button></p>
              <p><button class="aui-button" aria-disabled="true">Disabled button</button></p>
              <p><button class="aui-button aui-button-subtle">
                <span class="aui-icon aui-icon-small aui-iconfont-configure"></span> 
                Subtle button
                </button>
              </p>
            </section>
          </div>
        </div>
      </section>
      <footer id="footer" role="contentinfo">
        <section class="footer-body">
          <ul>
            <li>I ♥ AUI</li>
          </ul>
          <div id="footer-logo"><a href="http://www.atlassian.com/" target="_blank">Atlassian</a></div>
        </section>
      </footer>
    </div>
    <script type="text/javascript">
      $( document ).ready( function() {
        AJS.$("#select2-example").auiSelect2();

        $("#select2-example").on("change", function (e) { console.log($('#select2-example').val()); });

        $("#btnShowSelected").click( function() {
          alert($('#select2-example').val());
        }); 
      });
    </script>
    </body>
</html>