---
layout: components
title: Icons
---

<section class="aui-page-panel-content">
  <h2>Summary</h2>
  <p>
    Icons are visual artifacts to communicate, guide and inform the user. They can
    help users find their way through an interface, make the meaning of buttons
    clearer, and prepare users for what is happening next. Icons work at their
    best when they're consistent, familiar and recognizable to the user.
  </p>

  <h3>Example</h3>

  <div class="aui-flatpack-example">
    <span class="aui-icon aui-icon-large aui-iconfont-email-large">Alternative Text</span>
    <span class="aui-icon aui-icon-large aui-iconfont-blogroll">Alternative Text</span>
  </div>

  <div class="aui-flatpack-example">
    <span class="aui-icon aui-icon-small aui-iconfont-email-large">Alternative Text</span>
    <span class="aui-icon aui-icon-small aui-iconfont-blogroll">Alternative Text</span>
    <span class="aui-icon aui-icon-wait">Alternative Text</span>
  </div>
</section>
