---
layout: components
title: In-product help
---

<section class="aui-page-panel-content">
  <h2>Summary</h2>
  <p>
    Patterns for in-product help.
  </p>

  <h3>Example</h3>

  <div class="aui-flatpack-example">
    <h4>Feature discovery dialog</h4>
    <p>
      <a href="#" id="inlineDialog" aria-controls="inline-dialog-help" data-aui-trigger>
        Help dialog trigger</a>

      <aui-inline-dialog id="inline-dialog-help" class="aui-help" alignment="bottom center">
        Helpful help message here!
      </aui-inline-dialog>
    </p>
  </div>

  <div class="aui-flatpack-example">
    <h4>Help text</h4>
    <p>
      <div class="aui-help aui-help-empty-state">
        <div class="aui-help-illustration">Illustration</div>
        <div class="aui-help-content">
          <h2>Plan your sprint</h2>
          <p>This is a sprint. Plan a sprint by dragging the sprint footer down
            below some issues, or by dragging issues here.</p>
          <ul class="aui-nav-actions-list">
            <li><a class="aui-button">Click me</a></li>
            <li><a href="#">Learn more 1</a></li>
            <li><a href="#">Learn more 2</a></li>
            <li><a href="#">Learn more 3</a></li>
          </ul>
        </div>
      </div>
    </p>
  </div>

  <div class="aui-flatpack-example">
    <h4>Empty state message</h4>
    <p>
      <div class="aui-help aui-help-text">
        <div class="aui-help-content">
          <p>Card colors can be assigned according to different types of issue data
            or be based on custom queries. When values are present in the board they
            will be listed below.</p>
          <ul class="aui-nav-actions-list">
            <li><a class="aui-button">Click me</a></li>
            <li><a href="#">Learn more 1</a></li>
            <li><a href="#">Learn more 2</a></li>
            <li><a href="#">Learn more 3</a></li>
          </ul>
        </div>
      </div>
    </p>
  </div>
</section>
